<% content_for :title, "Partners" %>

<div class="article-full">
  <article class="article-body">
    <h2><%= @publication.title %></h2>
    
    <%= image_tag(@publication.logo['web_url'], :class => 'partner-logo') rescue nil %>
    
    <div>
	    <%= @publication.description.html_safe %>
    </div>
    
    <h3>Get in Touch:</h3>
    
    <ul>
    <%= content_tag :li, "Phone Number: #{@publication.telephone}" if @publication.telephone.present? %>
    <%= content_tag :li, "Email Address: ".html_safe+mail_to(@publication.email) if @publication.email.present? %>
    <%= content_tag :li, "Website: ".html_safe+link_to(@publication.url, @publication.url) if @publication.url.present? %>
    <%= content_tag :li, "Twitter: ".html_safe+link_to("@".html_safe+@publication.twitter, "http://twitter.com/"+@publication.twitter) if @publication.twitter.present? %>
    <%= content_tag :li, "Linkedin: ".html_safe+link_to(@publication.linkedin, @publication.linkedin) if @publication.linkedin.present? %>
    </ul>
    
  </article>
</div>

